.users-list {
  &-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > div {
      flex: 1;
    }
  }
  &-item.line-through {
    > div {
      text-decoration: line-through;
    }
  }
  &-item.headers {
    font-weight: bold;
    border-bottom: 1px solid #000000;
    > div {
      flex: 1;
    }
  }
}
