@import './theme/bootstrap.min.css';
@import './theme/variables.scss';

body {
  background-color: $background-color;
}
.App {
  .page {
    padding: 4rem 1rem;
    h3 {
      margin-bottom: 0;
    }
  }
  .custom-card {
    background-color: $white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .error {
    color: crimson;
  }
}
